<!-- login.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <form class="js-form card">
        <h2>Login</h2>
        <input class="js-username" type="text" placeholder="Username" />
        <input class="js-password" type="password" placeholder="Password" />
        <button>Login</button>
        <p>No account? <a href="register">Register</a></p>
        <p class="js-error"></p>
    </form>
    <script src="js/login.js"></script>
</body>

</html>