<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create New Post</title>
    <link rel="stylesheet" href="css/newPost.css">
</head>

<body>

    <form class="js-form post-container">
        <h2>Yangi post qo'shish</h2>
        <textarea class="js-textarea" placeholder="Write your post here..." required></textarea>
        <button>Create Post</button>
    </form>
<script src="js/newPost.js"></script>
</body>

</html>