<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <link rel="stylesheet" href="css/register.css">
</head>

<body>
    <div class="card">
        <h2>Register</h2>
        <form class="js-form">
            <input class="js-username" type="text" placeholder="Ismingiz" required />
            <input class="js-email" type="email" placeholder="Gmail manzilingiz" required />
            <input class="js-password" type="password" placeholder="Parol"  required />
            <button>Ro'yxatdan o'tish</button>
            <p>Hisobingiz bormi? <a href="login">Login</a></p>
            <p class="js-error"></p>
        </form>
    </div>
    <script src="js/register.js"></script>
</body>

</html>